@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.eot');
	src: local('☺'), url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf') format('truetype'), url('../fonts/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold.eot');
	src: local('☺'), url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.ttf') format('truetype'), url('../fonts/Montserrat-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'KaushanScript';
	src: url('../fonts/KaushanScript-Regular.eot');
	src: local('☺'), url('../fonts/KaushanScript-Regular.woff') format('woff'), url('../fonts/KaushanScript-Regular.ttf') format('truetype'), url('../fonts/KaushanScript-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.eot');
	src: local('☺'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


.website-width {
	width: 1920px;
	margin: auto;
}

.welcome__wrapper {
	height: 1000px;
	width: 100%;
	background-image: linear-gradient(rgba(233, 130, 131, .9), rgba(243, 220, 144, .9)), url(../images/eagle.png);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo_and_menu {
	width: 1200px;
	display: flex;
	justify-content: space-between;
	margin: 28px 0 164px;
}

.logo__size {
	width: 86px;
	height: 23px;
	margin: 0;
}

.menu {
	width: 620px;
	height: 29px;
}

.menu ul {
	display: flex;
	list-style-type: none;
	justify-content: space-between;
	margin: 8px 0 0;
	padding: 0;
}


.menu_item {
	color: #ffffff;
	font-family: 'Montserrat';
	font-size: 14px;
	text-transform: uppercase;
	padding-bottom: 12px;
}

li:first-child {
	color: #fce38a;
	border-bottom: 3px solid #fce38a;
	padding-bottom: 12px;
}

.shopping {
	margin: 0;
	padding: 0 0 12px;
	border: 0;
	background-color: transparent;
}

.search {
	margin: 0;
	padding: 0 0 12px;
	border: 0;
	background-color: transparent;
}

.shopping img {
	width: 18px;
	height: 15px;
}

.search img {
	width: 18px;
	height: 18px;
}

.centering {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.subtitle {
	font-family: 'KaushanScript';
	/*width: 520px;
	height: 95px;*/
	color: #ffffff;
	font-size: 72px;
	margin: 0 0 42px;
}


.title {
	width: 840px;
	height: 260px;
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 150px;
	line-height: 135px;
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;
	padding: 0;
	margin: 0 0 71px;
}

.welcome__mogo-dash {
	width: 60px;
	height: 3px;
	background-color: #ffffff;
	margin: 0 0 50px;
	border: 0;
}

.learn__more-button {
	width: 160px;
	height: 40px;
	border: 3px solid #ffffff;
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0);
	font-family: 'Montserrat';
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.down_block {
	display: flex;
	flex-direction: column;
}

.dash {
	display: flex;
	width: 1210px;
	justify-content: space-between;
	margin: 145px 0 0;
}

.dash-one {
	width: 280px;
	height: 3px;
	background: linear-gradient(to right, #f38181 30%, #ffffff 30% 100%);
}

.dash_styles {
	width: 280px;
	height: 3px;
	background-color: #ffffff;
}

.down-menu {
	display: flex;
	width: 1210px;
	justify-content: space-between;
}

.figures {
	color: #ffffff;
	font-family: 'Montserrat';
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
}

.menu-name {
	color: #ffffff;
	font-family: 'Montserrat';
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 400;
	margin: 0 0 2px 5px;
}

.down-menu-size {
	min-width: 89px;
	max-width: 133px;
	height: 17px;
	display: flex;
	align-items: flex-end;
	margin: 25px 145px 27px 0;
}

.about_us {
	height: 800px;
	background: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main_subtitle {
	font-family: 'KaushanScript';
	height: 23px;
	color: #333333;
	font-size: 24px;
	font-weight: 400;
	margin: 0 0 23px;
}

.main_title {
	height: 23px;
	color: #333333;
	font-family: 'Montserrat';
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0 0 40px;
}

.main_dash {
	width: 60px;
	height: 3px;
	background-color: #f38181;
	margin: 0 0 47px;
}

.heading_wrapper {
	margin: 91px 0 0;
}

.about_us-text {
	font-family: 'Roboto';
	width: 954px;
	height: 39px;
	color: #999999;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
}

.about_us-images {
	display: flex;
	width: 1210px;
	height: 260px;
	margin: 91px 0 0;
}

.image-left {
	width: 380px;
	height: 250px;
	background-image: linear-gradient(rgba(233, 130, 131, .9), rgba(243, 220, 144, .9)), url(../images/computer.png);
	box-shadow: 10px 10px #95e1d3;
}

.image-center {
	width: 380px;
	height: 250px;
	background-image: url(../images/headphones.png);
	margin: 10px 0 0 30px;
}

.image-right {
	width: 380px;
	height: 250px;
	background-image: url(../images/lens.png);
	margin: 10px 0 0 30px;
}

.about_us-bottom {
	height: 270px;
	background-color: #95e1d3;
	display: flex;
	justify-content: center;
}

.border-left, .border-right {
	border: 1px solid  rgba(255, 255, 255, .3);
	width: 239px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.border-left h4, .border-right h4 {
	color: #ffffff;
	font-family: 'Montserrat';
	font-size: 72px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0 0 30px;
}

.border-left p, .border-right p {
	color: #ffffff;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0;
}

.servise {
	/*justify-content: center;*/
	height: 650px;
	background: #ffffff;
}

.top-margin {
	margin: 109px 0 0;
}

.about-services {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	width: 1200px;
	height: 241px;
	margin: 19px 0 0;
}

.top-left, .top-center, .top-right {
	border-bottom: 1px solid #e5e5e5;
	height: 120px;
	display: flex;
	align-items: flex-start;
}

.bottom-left, .bottom-center, .bottom-right {
	height: 71px;
	margin: 49px 0 0;
	display: flex;
	align-items: flex-start;
}

.photography, .digital {
	width: 273px;
	height: 69px;
	margin: 0 0 0 28px;
}

.seo {
	width: 227px;
	height: 69px;
	margin: 0 0 0 28px;
}

.web_design {
	width: 261px;
	height: 69px;
	margin: 0 0 0 28px;
}

.css_html {
	width: 227px;
	height: 71px;
	margin: 0 0 0 28px;
}

.creativity {
	width: 282px;
	height: 69px;
	margin: 0 0 0 28px;
}

.photography h4, .seo h4, .web_design h4, .css_html h4, .creativity h4, .digital h4 {
	font-family: 'Montserrat';
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0 0 20px;
	height: 10px;
}

.photography p, .seo p, .web_design p, .css_html p, .creativity p, .digital p {
	color: #999999;
	font-family: 'Roboto';
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	margin: 0;
	height: 39px;
}

.unique_design {
	height: 850px;
	background-image: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url(../images/forest_fone.png);
}

.unique_design .centering .main_dash {
	margin: 0 0 45px;
}

.phone_block {
	position: relative;
}

.white_phone {
	position: absolute;
	left: 360px;
	top: 200px;
}